#cv {
  text-align: left;

  > div {
    margin-bottom:30px;
  }

  th {
    width: 150px;
    vertical-align: top;
    text-align: left;
  }

  @media print {
    tr {
      display: block;
      page-break-inside: avoid;
    }
  }
}
